<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://code.alibabatech.com/schema/dubbo
                            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 指定应用名称 -->
    <dubbo:application name="health_service_provider"/>
    <!--配置注册中心-->
    <dubbo:registry address="zookeeper://192.168.23.129:2181"/>
    <!--配置服务协议和端口号-->
    <dubbo:protocol name="dubbo" port="20881"/>
    <!--开启注解扫描-->
    <dubbo:annotation package="com.itheima.service"/>
</beans>