<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <audio id="audio" src="../1551961057/acb.mp3" controls  loop controlsList="nodownload"
           oncontextmenu="return false">
    </audio>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        .el-main {
            position: absolute;
            top: 70px;
            bottom: 0px;
            left: 200px;
            right: 10px;
            padding: 0;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top" :class=''>
                <!-- Logo -->
                <a href="#" class="logo" style="text-align:center">
<!--                    <span class="logo-lg"><img src="../img/logo.png"></span>-->
                    <span><b>你阳哥的健康管理系统</b></span>
                </a>
                <div class="right-menu">
                    <span class="help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>帮助</span>
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <img src="../img/user2-160x160.jpg" class="user-avatar">
                            {{username}}
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>
                                <span style="display:block;"><button
                                        style="border: white;background: white;font-size: 15px"
                                        @click="changePassword()">修改密码</button></span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                        <span style="display:block;" @click="logout()">
                                            退出
                                        </span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-submenu v-for="menu in menuList" :index="menu.path">
                        <template slot="title">
                            <i class="fa" :class="menu.icon"></i>
                            {{menu.name}}
                        </template>
                        <template v-for="child in menu.children">
                            <el-menu-item :index="child.path">
                                <a :href="child.linkUrl" target="right">{{child.name}}</a>
                            </el-menu-item>
                        </template>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <iframe name="right" class="el-main" src="../1551961057/bb.html" width="100%" height="580px"
                        frameborder="0"></iframe>
            </el-container>
        </el-container>
    </el-container>

    <!-- 修改密码 -->
    <div class="add-form">
        <el-dialog title="修改密码" :visible.sync="dialogFormVisible">
            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                     label-width="70px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="新密码" prop="password">
                            <el-input v-model="formData.password"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="12">
                        <el-form-item label="确认密码" prop="senPassword">
                            <el-input v-model="formData.senPassword"/>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="handleChangePassword()">确定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            dialogFormVisible: false,//控制修改密码弹框是否显示
            formData: {},//修改密码 两次输入框的表单
            //校验规则
            rules: {
                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'},
                    {min: 6, message: '密码最少需要6位', trigger: 'blur'}
                ],
                senPassword: [
                    {required: true, message: '请输入密码', trigger: 'change'},
                    {min: 6, message: '密码最少需要6位', trigger: 'blur'}
                ],
            },
            username: '',//当前登录用户的用户名
            menuList: []
        },
        mounted() {
            //发送ajax请求，请求Controller获取当前登录用户的用户名，展示到页面中
            axios.get("/user/getUsername.do").then((res) => {
                if (res.data.flag) {
                    this.username = res.data.data;
                }
            });

            axios.get("/user/getAllMenus.do").then((res) => {
                if (res.data.flag) {
                    this.menuList = res.data.data;
                }
            });
        },

        methods: {
            //弹出修改密码的弹框
            changePassword() {
                //重置表单
                this.formData = {};
                //弹框可见
                this.dialogFormVisible = true;
            },

            //点击确认修改的操作
            handleChangePassword() {
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        //点击确定,通过校验规则
                        axios.post("/user/changePassword.do", this.formData).then((res) => {
                            if (res.data.flag) {
                                this.$message({
                                    type: 'success',
                                    message: res.data.message
                                });

                                //登出
                                window.location.href = "/logout.do";
                            } else {
                                this.$message.error(res.data.message);
                            }
                        }).finally(() => {
                            this.findPage();
                            this.dialogFormVisible4Edit = false;
                        })
                    } else {
                        this.$message.error("密码格式不正确");
                    }

                    //清空校验规则
                    this.$refs['dataAddForm'].clearValidate();
                });
            },

            //退出操作
            logout() {
                window.location.href = "/logout.do";
            }

        },
        methods: {

            //退出失败
            logout() {
                axios.post("/user/quit.do").then((res) => {
                    window.location.href = "/logout.do"
                })
            },
        }

    });
    $(function () {
        var wd = 200;
        $(".el-main").css('width', $('body').width() - wd + 'px');
    });
</script>
</html>
