<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }

        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>知识库管理
            <small>运动库管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>知识库管理</el-breadcrumb-item>
            <el-breadcrumb-item>运动库管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="boxMain">
            <el-button style="margin-bottom: 20px;margin-right: 20px" type="primary"
                       @click="downloadTemplate()" v-if="permission.SPORT_DOWN">模板下载
            </el-button>
            <el-upload action="/sport/upload.do"
                       name="excelFile"
                       :show-file-list="false"
                       :on-success="handleSuccess"
                       :before-upload="beforeUpload">
                <el-button type="primary" v-if="permission.SPORT_UPLOAD">上传文件</el-button>
            </el-upload>
        </div>
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="编码/名称/助记码" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findPage()" class="dalfBut" v-if="permission.SPORT_QUERY">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()" v-if="permission.SPORT_ADD">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="helpCode" label="运动助记码" align="center"></el-table-column>
                <el-table-column prop="sportname" label="运动名称" align="center"></el-table-column>
                <el-table-column prop="number" label="运动次数" align="center"></el-table-column>
                <el-table-column prop="sporttime" label="运动时间" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)" v-if="permission.SPORT_EDIT">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)" v-if="permission.SPORT_DELETE">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增运动管理" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="运动助记码" prop="helpCode">
                                                <el-input v-model="formData.helpCode"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="运动名称" prop="sportname">
                                                <el-input v-model="formData.sportname"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="运动次数" prop="number">
                                                <el-input v-model="formData.number"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="运动时间" prop="sporttime">
                                                <el-input v-model="formData.sporttime"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑运动管理" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataEditForm" :model="formData" :rules="rules"  label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="运动助记码" prop="helpCode">
                                                <el-input v-model="formData.helpCode"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="运动名称" prop="sportname">
                                                <el-input v-model="formData.sportname"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="运动次数" prop="number">
                                                <el-input v-model="formData.number"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="运动时间" prop="sporttime">
                                                <el-input v-model="formData.sporttime"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>


        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            //本页面按钮显示需要的权限
            permission:{
            },

            autoUpload: true,//自动上传
            imageUrl: null,//模型数据，用于上传图片完成后图片预览
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData: [],//添加表单窗口中检查组列表数据
            checkgroupIds: [],//添加表单窗口中检查组复选框对应id
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制编辑窗口显示/隐藏
            tempImgId: null,//用作把原来已有的图片名称保存。
            rules: {//校验规则
                helpCode: [{required: true, message: '运动助记码为必填项', trigger: 'blur'}],
                sportname: [{required: true, message: '运动名称为必填项', trigger: 'blur'}],
                number: [{required: true, message: '运动次数为必填项', trigger: 'blur'}],
                sporttime: [{required: true, message: '运动时间为必填项', trigger: 'blur'}]
            }
        },
        created() {
            //发送ajax请求向后端获取到该用户拥有的权限
            axios.post("/permissionserver/findAllPermission.do").then((res) => {
                this.permission = res.data;
            });

            this.findPage();
        },
        methods: {
            //分页查询
            findPage() {
                //分页参数
                var param = {
                    currentPage: this.pagination.currentPage,//页码
                    pageSize: this.pagination.pageSize,//每页显示的记录数
                    queryString: this.pagination.queryString//查询条件
                };
                //请求后台
                axios.post("/sport/findPage.do", param).then((response) => {
                    //为模型数据赋值，基于VUE的双向绑定展示到页面
                    this.dataList = response.data.rows;
                    this.pagination.total = response.data.total;
                });
            },
            //添加
            handleAdd() {
                console.log(this.formData);
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        //发送ajax请求，将表单数据（套餐基本信息）提交到后台进行处理
                        axios.post("/sport/addSport.do", this.formData).then((res) => {
                            //关闭新增窗口
                            this.dialogFormVisible = false;
                            if (res.data.flag) {
                                //执行成功
                                this.$message.success(res.data.message);
                            } else {
                                //执行失败
                                this.$message.error(res.data.message);
                            }
                            this.findPage();
                        })
                    } else {
                        //校验不通过
                        this.$message.error("数据校验不通过，请重新输入");
                        return false;
                    }
                })
            },
            // 编辑窗口-实现数据回显
            handleUpdate(row) {
                //弹出编辑窗口
                this.dialogFormVisible4Edit = true;
                axios.get("/sport/findSportById.do?id=" + row.id).then((res) => {
                    /*
                    *  private boolean flag;//执行结果，true为执行成功 false为执行失败
                       private String message;//返回结果信息，主要用于页面提示信息
                          private Object data;//返回数据
                      */
                    if (res.data.flag) {
                        this.formData = res.data.data; //进行数据的回显，基于vue的数据绑定
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).catch((r) => {
                    this.showMessage(r)
                })
            },
            //删除
            handleDelete(row) { //row其实是一个json
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get("/sport/delete.do?id=" + row.id).then((res) => {
                        if (res.data.flag) {
                            this.$message({
                                type: 'success',
                                message: res.data.message
                            });
                            // this.$message().success(res.data.message);
                            this.findPage();
                        } else {
                            this.$message.error(res.data.message);
                        }
                    }).catch((r) => {
                        this.showMessage(r);
                    })
                }).catch(() => {
                    this.$message('已取消删除');
                });
            },
            //编辑功能-确认
            handleEdit() {
                this.$refs['dataEditForm'].validate((valid) => { //实现表单的校验
                    if (valid) {
                        axios.post("/sport/edit.do", this.formData).then((res) => {
                            if (res.data.flag) {
                                this.$message({
                                    type: 'success',
                                    message: res.data.message
                                });
                            } else {
                                this.$message.error(res.data.message);
                            }
                        }).finally(() => {  //ajax是异步请求，所有findPage()必须放在finally执行
                            this.findPage(); //不论成功还是失败都会执行分页查询操作
                            this.dialogFormVisible4Edit = false;  //编辑完成后隐藏编辑窗口
                        })
                    } else {
                        this.$message.error("表单数据校验失败");
                        return false;  //如果后面有代码也不会执行
                    }
                });
            },
            //根据查询条件查询
            findPageByInfo() {
                //查询功能
                this.pagination.currentPage = 1;
                this.findPage();
            },
            // 重置表单
            resetForm() {
                this.formData = {};
                this.activeName = 'first';
            },
            // 弹出新增页面
            handleCreate() {
                this.resetForm(); //重置新增表单
                this.dialogFormVisible = true;//显示新增页面

            },
            //分页页码切换
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            //模板下载
            downloadTemplate() {
                //下载模板的位置
                window.location.href = "../template/sport_template.xlsx";
            },
            //上传成功
            handleSuccess(response, file) {
                if (response.flag) {
                    this.$message.success(response.message);
                    this.findPage();
                } else {
                    this.$message.error(response.message);
                }
                console.log(response, file, fileList);
            },
            //上传之前进行文件格式校验
            beforeUpload(file) {
                const isXLS = file.type === 'application/vnd.ms-excel';
                if (isXLS) {
                    return true;
                }
                const isXLSX = file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
                if (isXLSX) {
                    return true;
                }
                this.$message.error('上传文件只能是xls或者xlsx格式');
                return false;
            }
        }
    })
</script>
</html>
